streamlit
numpy
matplotlib
pillow
reportlab
sentence-transformers
faiss-cpu
pypdf
groq
torch
torchvision
geemap
earthengine-api
langchain 
langchain_community
fpdf2
streamlit_option_menu
matplotlib
pandas
python-dateutil
oauth2client
pytesseract
openai
streamlit_folium